DUMMY
DUMMY2
samples
logs/
__pycache__/
monotonic_align/monotonic_align
hifigan/
filelists/
data/
build
.ipynb_checkpoints
*.ipynb
*.swp
*.wav
*.c
*.pth
*.out
.pyc
hifi-gan
train_ddi.sh
korean_text_tacotron2/
korean_text_HGU/
